:root {
  --white: white;
  --principal: #023047;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  overflow: hidden;
  /* margin: em; */
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;



}

#header {
  /* border: 1px dashed black; */
  height: 200px;
  background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F6%2F2019%2F11%2Frick-and-morty-season-4-2000.jpg&q=60);
  background-size: cover;
  background-position: center;
}

#title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin: 20px;
}

#main {
  max-width: 1280px;
  width: 90%;
  padding: 2em;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid gray;   */


}

.input {
  width: 80%;
  border-radius: 5px;
  border: 0.5px solid gray;
  padding: 1em;
  height: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  outline: none;
  /* display: none; */
}

.buttonSubmit {
  padding: 1em;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0.5px solid gray;
  background-color: var(--principal);
  color: var(--white);

  /* border: 1px dashed black; */
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 2em;
  /* border: 1px dashed black; */
}

.headerCards {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  overflow: hidden;
  /* border: dashed black 1px; */
  gap: 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

li {
  list-style: none;
  font-size: 20px;
  margin: 0.4em 1em;
}

.planetName {
  font-size: 30px;
  font-weight: 800;
}

#cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  width: 100%;

  flex-wrap: wrap;
}

.headerCard {
  width: 100%;
  height: 250px;
  background-color: #023047;
  margin: auto;
  overflow: hidden;
}

.Character {
  width: 300px;
  /* height: 400px; */
  border: 3px solid;
  border-color: var(--principal);
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

img {
  max-width: 100%;
}

#cardsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}